<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <title>About us</title>
</head>
<body>
    <nav>
        <div class="logo">
            <p>Th</p>
        </div>
        <div class="nav--list">
            <li href="/api/home"><a href="/api/home">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="/api/home">Featured</a></li>
            <li><a href="/api/register">register</a></li>
            <li><a href="/api/register">Login</a></li>
        </div>
    </nav>
    <div class="about--page">
        <h1>About us</h1>
        <div class="about--hotel">
            <h2>Your Ultimate Travel Partner</h2>
            <p>Welcome to travel hotel, your ultimate destination for hassle-free hotel bookings and unforgettable travel experiences. We're here to make your journey seamless, from the moment you start planning to the minute you check out</p>
            <h2>Who We Are</h2>
            <p>At travel hotel, we're passionate travelers just like you. We understand the thrill of exploring new destinations and the importance of finding the perfect place to rest your head after a day of adventures. That's why we've created a platform that's designed with your needs in mind.</p>
            <h2>What We Do</h2>
            <p>Our mission is simple: to help you find the ideal hotel for your next trip, no matter where you're headed. With our intuitive search engine and extensive database of accommodations, you can easily discover a wide range of options tailored to your preferences and budget.</p>
        </div>
        <div class="about--more">
            <h1 class="more--h1">Why Choose Us</h1>
            <p>Ease of Use: Our user-friendly interface makes it easy to search, compare, and book hotels in just a few clicks.</p>
            <p>Comprehensive Listings: Whether you're looking for a cozy bed and breakfast or a luxurious resort, we've got you covered with a diverse selection of accommodations.</p>
            <p>Transparent Reviews: Make informed decisions with real reviews from fellow travelers, ensuring that you find the perfect place to stay.</p>
            <p>Secure Booking: Rest easy knowing that your personal information is protected with our secure booking system.</p>
            <p>24/7 Support: Have questions or need assistance? Our dedicated customer support team is available around the clock to help you out.</p>

        </div>
        <div class="more--about--us">
            <h1>Our Commitment to You:</h1>
            <p>At travel hotel, we're committed to providing you with the best possible travel experience. Whether you're planning a weekend getaway or a once-in-a-lifetime adventure, we're here to help you every step of the way.</p>
            <h1>Get in Touch:</h1>
            <p>Ready to start your next journey? Explore our website today and discover the perfect hotel for your trip. Have questions or need assistance? Don't hesitate to reach out to our friendly team—we're always here to help.

                Thank you for choosing travel hotel as your trusted travel partner. Here's to making unforgettable memories together!</p>
        </div>
    </div>
</body>
</html>