<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>Register</title>
</head>
<body>
    <div class="intro">
        <h3>Create your travel hotel account today, register down below.</h3>
    </div>
    <form action="/api/login" class="register--form">
        <input type="text" placeholder="first name">
        <input type="text" placeholder="first name">
        <input type="text" placeholder="email address">
        <input type="text" placeholder="password">
        <button>Register</button>
    </form>
</body>
</html>